.headerBtns {
  margin: 0 auto;
  margin-bottom: 1vw;
  box-sizing: border-box;
  background: transparent;
  /* margin-right: 10vw; */
}
.buttonsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: stretch;
}

.headerDiv {
  display: flex;
}
.logoDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
}

/* .Nav {
  float: right;
  display: flex;
  list-style: none;
}

.navDiv {
  margin-left: 1vw;
  margin-right: 2vw;
  color: white;
}

.headerA {
  color: white;
}



.header_div {
  display: flex;
}
 
h1 {
  margin: 0 auto;
  margin-top: 20px;
} */
